.navigation {
  display: flex;
}
.nav__logo,
.nav__links {
  display: flex;
  padding: 1.5rem 0 1.5rem 1.5rem;
  align-items: center;
}
.nav__logo {
  background-color: var(--primary-color);
  flex: 1;
  padding-left: 2.5rem;
}
.nav__logo a {
  font-size: 1.5rem;
  color: var(--color-white);
  font-weight: 900;
}
.nav__links {
  background-color: var(--color-creamson);
  flex: 1.25;
  gap: 4rem;
  justify-content: end;
  padding-right: 1.5rem;
}
.nav__links a {
  font-family: var(--plus-jakarta-sans);
  font-size: 1.125rem;
  color: var(--black-200);
}
.nav__links button img {
  max-width: 1.5rem;
}
.hamburger {
  display: none;
}
/* media query */
@media (width<786px) {
  .nav__links {
    position: fixed;
    inset: 0 0 0 30%;
    justify-content: center;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 500ms ease-in;
  }
  .nav__links[data-visible="true"] {
    transform: translateX(0%);
  }
  .nav__logo {
    display: flex;
    justify-content: space-between;
  }
  .hamburger {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 9999;
  }

  .hamburger[aria-expanded="false"] {
    background-image: url("../public/hamburgerClose.svg");
    position: absolute;
    right: 1.25rem;
  }

  .hamburger[aria-expanded="true"] {
    position: fixed;
    right: 1.25rem;
    background-image: url("../public/hamburgerOpen.svg");
  }
}
