.sec-4 {
  flex-direction: column;
  position: relative;
}
.sec-4-1,
.sec-4-2 {
  background-color: var(--color-creamson);
}
.sec-4-img {
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  aspect-ratio: 1;
  padding: 34px 64px;
  position: relative;
}
.sec-4-img > img {
  width: 16rem;
}
.trending {
  justify-content: center;
  flex: 1;
  padding: 34px 64px;
  flex-direction: column;
  gap: 2.25rem;
}
.whats_trend {
  color: var(--primary-color);
  font-size: 1.25rem;
  font-family: var(--plus-jakarta-sans);
  letter-spacing: 0.1rem;
}
.sec-4-heading {
  font-size: 2.5rem;
  font-family: var(--playfair-display);
}
.sec-4-desc {
  font-size: 1.25rem;
  font-family: var(--plus-jakarta-sans);
}
.sec-4 ul {
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1.125rem;
}
.sec-4 li {
  font-size: 1.125rem;
}
.sec-4 li::before {
  content: url("../public/check.svg");
  background-color: var(--primary-color);
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  padding: 0.1rem;
  width: 1.5rem;
  aspect-ratio: 1;
  margin-right: 0.5rem;
}
.sec-4-btn {
  top: 50%;
  left: 50%;
  padding: 2rem;
  font-size: 1.25rem;
  border-radius: 50%;
  aspect-ratio: 1;
  background-color: var(--black-200);
  transform: translate(-50%, -50%);
  position: absolute;
  color: white;
  z-index: 1;
}
.arrow {
  position: absolute;
  z-index: 1;
}

.sec-4-1 .arrow-1 {
  left: -3px;
}

.sec-4-1 .arrow-2 {
  bottom: -3px;
}

.sec-4-2 .arrow-4 {
  right: -3px;
}
.sec-4-2 .arrow-5 {
  top: -3px;
}
/* media query */
@media (width<850px) {
  .sec-4-1 {
    flex-direction: column;
  }
  .sec-4-2 {
    flex-direction: column-reverse;
  }
  .sec-4-btn {
    display: none;
  }
  .sec-4-img {
    aspect-ratio: 1/0.5;
  }
  .arrow {
    display: none;
  }
  .sec-4-heading {
    font-size: 2rem;
  }
  .sec-4-desc {
    font-size: 1.125rem;
  }
}
@media (width<430px) {
  .sec-4-img > img {
    width: 8rem;
  }
  .trending {
    padding: 24px 32px;
    gap: 1.5rem;
  }
  .whats_trend {
    font-size: 1.125rem;
  }
  .sec-4-heading {
    font-size: 1.75rem;
  }
  .sec-4-desc {
    font-size: 1rem;
  }

  .sec-4 li {
    font-size: 1.125rem;
  }
  .sec-4 li::before {
    width: 1.25rem;
    height: 100%;
    margin-right: 0.5rem;
  }
}
@media (width<346px) {
  .sec-4-img > img {
    width: 7rem;
  }
  .trending {
    padding: 12px 20px;
    gap: 1.25rem;
  }
  .whats_trend {
    font-size: 1rem;
  }
  .sec-4-heading {
    font-size: 1.5rem;
  }
  .sec-4-desc {
    font-size: 0.75rem;
  }
  .sec-4 li {
    font-size: 1rem;
  }
  .sec-4 li::before {
    width: 1rem;
    height: 100%;
    margin-right: 0.5rem;
  }
}
